# Ignore editor settings
.vscode/
.idea/

# Ignore files
feature_status.md
RouteWave/
# System files
.DS_Store
Thumbs.db

# Any root-level environment variables
.env
.env.local

# Deployment Guide
secrets.md
awssecrets.txt
